<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoxEoEc5Pho2En7F7FBTKJ8k8FIB8BRCs</string>
	<key>GCM_SENDER_ID</key>
	<string>586720250076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Alp.Snapchat-Clone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-3fffc</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-3fffc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586720250076:ios:e1ee2408624ae74ac94c19</string>
</dict>
</plist>